# Entornos virtuales
   .venv/
   env/
   __pycache__/

   # Archivos de datos (si es muy pesado, es mejor no subirlo)
   BEED_Data.csv

   # Archivos generados por el script
   *.png
   *.csv
   *.html